@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
$font-family-base: 'EB Garamond', sans-serif;

@import "node_modules/bootstrap/scss/bootstrap";

$slate-blue: #4f53d1;
$ruby: #ff0a03;


.bg-slate-blue {
  background: $slate-blue;
}

.bg-ruby {
  background: $ruby;
}

[data-elm-hot="true"] {
  height: inherit;
}

$vertical-offset : 150px;
$banner-home-height : 65px;
$nav-horizontal-offset: 185px;

.header {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1000;
  height: $vertical-offset;
}

.banner-container {
  position: sticky;
  top: $vertical-offset;
  z-index: 1000;
}

.banner-home {
  height: $banner-home-height;
}

.content-container {
  padding-left: $nav-horizontal-offset;
}

// @Todo investigate need for extra pixel.
.tool-bar-container {
  position: fixed;
  top: $banner-home-height + $vertical-offset;
  width: $nav-horizontal-offset + 2;
  height: 2000px;
}

.sticky-th {
  top: $banner-home-height + $vertical-offset - 1;
}

.hover-underline:hover {
  text-decoration: underline;
}

.hover-pointer:hover {
  cursor: pointer;
}

.header-info-bank-logo {
  width: 100px;
}

.header-logo {
  width: 200px;
}

.header-search-box {
  border-radius: 50px;
}

.nav-icon {
  width: 35px;
}

.tool-asset {
  height: 16px;
}

.tool-glyph {
  font-size: 16px;
}

.stripe-logo {
  width: 50px;
}

.hover-black:hover, .hover-black {
  color: $black;
}

.max-height-80 {
  min-height: 80px;
}

.data-icon-size {
  font-size: 30px;
}

.border-unselected {
  border: 2px solid rgba(255, 255, 0, 0);;
  border-radius: 5px;
}

.border-selected {
  border: 2px solid $slate-blue;
  border-radius: 5px;
}

.color-selected {
  color: $slate-blue
}

