@import url('https://fonts.googleapis.com/css?family=EB+Garamond');


.bg-slate-blue {
  background: #ff0a03;
}

.bg-ruby {
  background: $ruby;
}


$font-family-base: 'EB Garamond', sans-serif;


//$theme-colors: (
//        "primary": $slate-blue
//);




@import "node_modules/bootstrap/scss/bootstrap";

$slate-blue: #4f53d1;
$ruby: #ff0a03;

$warning: #FF5555;


[data-elm-hot="true"] {
  height: inherit;
}

$header-vertical-offset : 80px;
$nav-horizontal-offset: 237px;

body {
  background-color: $light;
}

// @Todo investigate need for extra pixel.
.sidebar-container {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: $nav-horizontal-offset;
  height: 2000px;
}


.header-container {
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-container {
  padding-left: $nav-horizontal-offset;
}

.account-control-icon {
  font-size: 28px;
  color: $gray-500;
}





//.sticky-th {
//  top: $banner-home-height + $vertical-offset - 1;
//}

.hover-underline:hover {
  text-decoration: underline;
}

.hover-pointer:hover {
  cursor: pointer;
}

.header-info-bank-logo {
  width: 60px;
}

.header-logo {
  width: 150px;
}

.nav-icon {
  width: 35px;
}

.tool-asset {
  height: 30px;
}

.tool-glyph {
  font-size: 26px;
}

.stripe-logo {
  width: 50px;
}

.hover-black:hover, .hover-black {
  color: $black;
}

.max-height-80 {
  min-height: 80px;
}

.data-icon-size {
  font-size: 22px;
}

.color-selected {
  color: $slate-blue
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.border-blue {
  border-color: $slate-blue
}

.warning {
  color: $warning;
}
